body {
    color: black;
}

h1{
    color: blac;
}

header{
    background-color: blue;
    text-align: center;
    padding: 30px;
    font-size: 22px;
}

nav{
    background-color: #358597;
}

footer{
    background-color: #358597;
}